player-connection-mode=Listen
player-connection-guid=2048953246
player-connection-debug=0
player-connection-project-name=ChickenCrossing
player-connection-ip=10.73.122.105
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
